/* Variables */
/* Templating */
html, body, div, span, h1, h2, h3, h4,
h5, h6, p, a, img, i, ol, ul, li, form,
label, table, caption {
  margin: 0;
  padding: 0; }

html {
  width: 100%;
  font-family: Arial, Helvetica, sans-serif; }
  html body {
/*    background-image:url(/mariosebasco.github.io/public/images/Galaxy.jpeg);
    background-repeat:no-repeat;
    background-size:100%;
    margin: 0;
    padding: 0;
    height: 100%;*/
    /* Header */
    /* General main template */
    /* Portfolio page */
    /* About page */
    /* Contact page */
    /* Project page template */
    /* Footer */ }
    html body header {
      width: 100%;
      background-color: #222;
      color: #fff; }
      html body header nav {
        margin: 0 auto;
        padding: 20px 0;
        width: 80%;
        overflow: auto; }
        html body header nav > a {
          color: inherit; }
          html body header nav > a h1 {
            float: left;
            font-size: 16px;
            color: inherit; }
        html body header nav ul {
          float: right;
          list-style: none; }
          html body header nav ul li {
            float: left;
            width: 100px;
            text-align: center; }
            html body header nav ul li a {
              text-decoration: none;
              color: inherit; }
    html body main {
      margin: 0 auto;
      width: 100%; }
      html body main > h1.page-header {
	background-color:white;
/*	opacity:0.8;*/
        margin: 20px auto 10px;
        width: 80%; }
      html body main section {
	background-color:white;
	opacity:0.8;
        margin: 0 auto;
        width: 80%; }
    html body main#portfolio div#portfolio-gallery {
      margin: 0 auto;
      width: 100%;
      overflow: auto;
      height: auto;
      /* 2xN grid: */
      /* 4xN grid: */ }
      html body main#portfolio div#portfolio-gallery div.container {
        width: calc((100% - 60px - 40px) / 4);
        display: inline-block;
        margin-bottom: 20px;
        border: 2px solid #bbb;
        text-align: center;
        position: relative; }
        html body main#portfolio div#portfolio-gallery div.container div.aspect-ratio-keeper {
          padding-bottom: 100%; }
        html body main#portfolio div#portfolio-gallery div.container div.content {
          position: absolute;
          top: 0;
          bottom: 0;
          left: 0;
          right: 0; }
        html body main#portfolio div#portfolio-gallery div.container a {
          color: inherit;
          text-decoration: none; }
        html body main#portfolio div#portfolio-gallery div.container span.link-spanner {
          position: absolute;
          width: 100%;
          height: 100%;
          top: 0;
          left: 0;
          z-index: 1; }
        html body main#portfolio div#portfolio-gallery div.container div.image-container {
          position: relative;
          height: 85%;
          overflow: hidden;
          text-align: center;
          -webkit-transform-style: preserve-3d;
          -moz-transform-style: preserve-3d;
          transform-style: preserve-3d; }
          html body main#portfolio div#portfolio-gallery div.container div.image-container div.image-vertical-align-box {
            position: relative;
            top: 50%;
            -webkit-transform: translateY(-50%);
            -ms-transform: translateY(-50%);
            transform: translateY(-50%); }
            html body main#portfolio div#portfolio-gallery div.container div.image-container div.image-vertical-align-box img.inner {
              width: 100%;
              margin: auto; }
        html body main#portfolio div#portfolio-gallery div.container div.inner-text {
          padding-top: 15px;
          padding-bottom: 15px;
          z-index: 100;
          background: white;
          overflow: hidden;
          position: absolute;
          bottom: 0px;
          width: 100%;
          max-height: 15%; }
          html body main#portfolio div#portfolio-gallery div.container div.inner-text h2 {
            font-size: 16px;
            margin-left: 1%;
            margin-right: 1%; }
      @media screen and (max-width: 800px) {
        html body main#portfolio div#portfolio-gallery div.container:not(:nth-child(2n)) {
          margin-right: 20px; }
        html body main#portfolio div#portfolio-gallery div.container {
          width: calc((100% - 40px - 40px) / 2); } }
      html body main#portfolio div#portfolio-gallery div.container:not(:nth-child(4n)) {
        margin-right: 20px; }
    html body main#about section#about-content {
      overflow: auto; }
      html body main#about section#about-content img#portrait {
        float: right;
        margin-bottom: 25px;
        margin-left: 25px;
        width: 280px; }
      html body main#about section#about-content h1 {
        margin: 0.67em 0;
        font-size: 2em; }
      html body main#about section#about-content h2 {
        margin: 0.75em 0; }
      html body main#about section#about-content h3 {
        margin: 0.83em 0; }
      html body main#about section#about-content h3, html body main#about section#about-content p, html body main#about section#about-content ul, html body main#about section#about-content form, html body main#about section#about-content ol {
        margin: 1.12em 0; }
      html body main#about section#about-content h5 {
        margin: 1.5em 0; }
      html body main#about section#about-content h6 {
        margin: 1.67em 0; }
      html body main#about section#about-content ol, html body main#about section#about-content ul {
        margin-left: 40px; }
    html body main#contact section#contact-content {
      overflow: auto; }
      html body main#contact section#contact-content img#contact-image {
        float: right;
        margin-bottom: 25px;
        margin-left: 25px;
        width: 280px; }
      html body main#contact section#contact-content h1 {
        margin: 0.67em 0;
        font-size: 2em; }
      html body main#contact section#contact-content h2 {
        margin: 0.75em 0; }
      html body main#contact section#contact-content h3 {
        margin: 0.83em 0; }
      html body main#contact section#contact-content h3, html body main#contact section#contact-content p, html body main#contact section#contact-content ul, html body main#contact section#contact-content form, html body main#contact section#contact-content ol {
        margin: 1.12em 0; }
      html body main#contact section#contact-content h5 {
        margin: 1.5em 0; }
      html body main#contact section#contact-content h6 {
        margin: 1.67em 0; }
      html body main#contact section#contact-content ol, html body main#contact section#contact-content ul {
        margin-left: 40px; }
    html body main.project section#contact-content {
      margin-top: 20px;
      overflow: auto; }
      html body main.project section#contact-content img#project-image {
        float: right;
        margin-bottom: 100px;
        margin-left: 100px;
        width: 700px; }
      html body main.project section#contact-content h1#project-title {
        margin: 0; }
      html body main.project section#contact-content h2#project-date {
        margin-top: 5px;
        font-size: 16px; }
      html body main.project section#contact-content h1 {
        margin: 0.67em 0;
        font-size: 2em; }
      html body main.project section#contact-content h2 {
        margin: 0.75em 0; }
      html body main.project section#contact-content h3 {
        margin: 0.83em 0; }
      html body main.project section#contact-content h3, html body main.project section#contact-content p, html body main.project section#contact-content ul, html body main.project section#contact-content form, html body main.project section#contact-content ol {
        margin: 1.12em 0; }
      html body main.project section#contact-content h5 {
        margin: 1.5em 0; }
      html body main.project section#contact-content h6 {
        margin: 1.67em 0; }
      html body main.project section#contact-content ol, html body main.project section#contact-content ul {
        margin-left: 40px; }
    html body footer {
      margin-top:40px;
     /* height: 40px;*/ 
      width: 100%;
      background-color: #222;
      color: #fff;
      /*position: absolute;
      left: 0px;
      bottom: 0px;*/
    }
      html body footer ul {
        margin: 0 auto;
        padding: 10px 0;
        width: 80%;
        overflow: auto;
        list-style: none; }
        html body footer ul li {
          float: left;
          width: calc(100% / 3);
          text-align: center; }
        @media screen and (max-width: 1000px) {
          html body footer ul li {
            width: 100%;
            float: none;
            text-align: left; } }

/*# sourceMappingURL=style.css.map */
